<div *ngIf="article"
  class="bg-white cursor-pointer rounded shadow-[0_2px_10px_-3px_rgba(6,81,237,0.3)] relative top-0 hover:-top-2 transition-all duration-300 max-w-sm mx-auto">

  <img [src]="article.image" alt="Blog Post" class="w-full h-60 object-cover" />

  <div class="p-6">
    <span class="text-sm block text-gray-400 mb-2">{{ article.createdAt | date }}</span>

    <h3 class="text-xl font-bold text-gray-800 break-words w-full">
      {{ article.title | truncate: 100 }}
    </h3>

    <p class="text-gray-400 text-sm break-words w-full">
      {{ article.description | truncate: 150 }}
    </p>
  </div>

  <div class="flex justify-between items-center px-4 pb-4">
    <button (click)="onSelectArticle()"
      class="px-4 py-2 rounded tracking-wider bg-purple-600 hover:bg-purple-700 text-white text-[13px] flex items-center">
      <i class="fas fa-book-open mr-2"></i> Read More
    </button>

    <div class="flex space-x-2">
      <button (click)="onEdit()"
        class="rounded-lg bg-blue-500 px-3 py-1 font-bold uppercase text-white shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
        data-ripple-light="true">
        <i class="fas fa-edit text-sm"></i>
      </button>
      <button (click)="onDelete()"
        class="rounded-lg bg-red-500 px-3 py-1 font-bold uppercase text-white shadow-md shadow-red-500/20 transition-all hover:shadow-lg hover:shadow-red-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
        data-ripple-light="true">
        <i class="fas fa-trash-alt text-sm"></i>
      </button>
    </div>
  </div>
</div>
